{% extends 'base.html' %}
{% load app_tags %}
{% load humanize %}


{% block body %}
<div id="app">
    <template>
        <div v-show="!showPrint">
            {% include 'index/nav.html' %}
            {% include 'index/alert.html' %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid px-1">
                <h4 class="m-0">{{order_group.reference}}</h4>
                <button v-show="!showPrint" @click="printPage()"><span class="fa fa-print"></span> Print</button>
            </div>
        </nav>

        <div>
            <table class="table table-sm">
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>
                            {{order.product_name}}
                        </td>
                        <td>
                             &times; {{order.quantity}}
                        </td>
                        <td>
                            <strong>{{order.sale_price}} @ {{order.sale_metric}}</strong>
                        </td>
                        <td align="right">
                            <strong>{{order.sale_price|multiply:order.quantity|intcomma}}</strong>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="table-light">
                        <td></td>
                        <td colspan="3"><strong>Total</strong></td>
                        <td align="right">
                            <strong>{{order_group.total|intcomma}}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordere">
                    <tbody>
                        <tr>
                            <td>Waiter</td>
                            <td>{{order_group.waiter}}</td>
                        </tr>
                        <tr>
                            <td>Customer</td>
                            <td>{{order_group.customer}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <div v-show="!showPrint">
            <div style="height:30">
            </div>
            <div class="fixed-bottom justify-content-between my-2" style="height:30" align="center">
                {% if order_group.closed %}
                    <a class="btn btn-success" href="{% url 'bar:open_or_close_order_group' id=order_group.id %}"><span class="fa fa-unlock"></span> Open</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'bar:open_or_close_order_group' id=order_group.id %}"><span class="fa fa-lock"></span> Close</a>
                {% endif %}
            </div>
        </div>
    </template>
</div>
{% endblock %}

{% block vue %}
<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data: {
            showPrint: false,
        },
        created: function() {
            
        },
        computed: {
            
        },
        methods: {
            printPage(){
                this.showPrint = true
                setTimeout(()=>{print();this.showPrint = false})
            }
        }
    });
</script>
{% endblock %}