<button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteMetricSystemModal">Delete</button>
<!-- Modal -->
<div class="modal fade" id="deleteMetricSystemModal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete MetricSystem</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form :action="'/metric-systems/'+metricSystem.id+'/delete'">
            <div class="modal-body">
                <p><strong>WARNING:</strong> Deleting this metric system will delete all products using it.</p>
                <p>Are you sure you want to delete "{%verbatim%}{{metricSystem.name}}{%endverbatim%}"?</p>
                <hr>
                <input id="consent" type="checkbox" name="consent" required /> <label for="consent">Yes, I understand the risks.</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Yes, delete</a>
            </div>
        </form>
    </div>
    </div>
</div>