
		<div>
			<div class="modal-header px-2">
				<button type="button" class="btn btn-link  p-0" @click="goBack()"><span class="fa fa-angle-left fa-2x"></span></button>
				<h5 class="modal-title" id="exampleModalLabel">
					{%verbatim%}{{currentRef}}{%endverbatim%}
				</h5>
				<div>
					<span v-if="!orderGroup.closed" class="badge bg-success my-auto">open</span>
					<span v-if="orderGroup.closed" class="badge bg-danger my-auto">closed</span>
				</div>
			</div>

			<div class="modal-body p-0">
				<table class="table table-bordered">
					<thead>
						<th>Product</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Total</th>
					</thead>
					<tr v-for="product in currentOrders">
						<td>
							<p class="card-text skeleton-loader">{%verbatim%}{{product.product_name}}{%endverbatim%}</p>
						</td>
						<td>
							&times; {%verbatim%}{{product.quantity}}{%endverbatim%}
						</td>

						<td>
							UGX {%verbatim%}{{product.sale_price}}{%endverbatim%}
						</td>

						<td>
							UGX {%verbatim%}{{product.sale_price*product.quantity}}{%endverbatim%}
						</td>
					</tr>
					<tr>
						<td colspan="3">
							Total
						</td>
						<td>
							UGX {%verbatim%}{{totalPrice()}}{%endverbatim%}
						</td>
					</tr>
				</table>
				<table class="table table-bordere">
					<tbody>
						<tr>
							<td>Waiter</td>
							<td>{%verbatim%}{{orderGroup.waiter}}{%endverbatim%}</td>
						</tr>
						<tr>
							<td>Customer</td>
							<td>{%verbatim%}{{orderGroup.customer}}{%endverbatim%}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="px-1 d-flex align-items-center fixed-bottom justify-content-between" v-if="!showPrint">
				<button class="btn btn-info" @click="printOrder()"><span class="fa fa-print"></span> Print</button>
				<a v-if="!orderGroup.closed" class="btn btn-info" :href="'/orders/update/'+orderGroup.id"><span class="fa fa-pencil"></span> Edit</a>
				<form v-if="currentStatus==0" align="right" method="POST" action="{% url 'bar:update_order_status' %}" class="p-2 border">
        			<div class="form-check">
	        			<input class="form-check-input" type="checkbox" name="check" value="1" id="check" required>
						<label class="form-check-label" for="check">
							Order is READY
						</label>
					</div>
					<br>
					{% csrf_token %}
					<input type="hidden" name="ref" :value="currentRef" hidden/>
					<input type="number" name="status" value="1" hidden/>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

				<form v-if="currentStatus==1" align="right" method="POST" action="{% url 'bar:update_order_status' %}" class="p-2 border">
        			<div class="form-check">
	        			<input class="form-check-input" type="checkbox" name="check" value="2" id="check" required>
						<label class="form-check-label" for="check">
							Order is PAID
						</label>
					</div>
					<br>
					{% csrf_token %}
					<input type="hidden" name="ref" :value="currentRef" hidden/>
					<input type="number" name="status" value="2" hidden/>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

				<button v-if="currentStatus==2 && !orderGroup.closed" class="btn btn-primary" @click="updateOrderGroupClosedState(orderGroup)" data-bs-dismiss="modal"><span class="fa fa-lock"></span> Close</button>
				<button v-if="currentStatus==2 && orderGroup.closed" class="btn btn-success" @click="updateOrderGroupClosedState(orderGroup)" data-bs-dismiss="modal"><span class="fa fa-unlock"></span> Open</button>
			</div>
		</div>
	