{% extends 'base.html' %}
{% load app_tags %}


{% block body %}
	<div id="app">
        {% include 'index/nav.html' %}
        {% include 'index/alert.html' %}
    </div>

    <div class="d-flex bg-light p-2 justify-content-between">
        <h3 class="my-auto">Users</h3>
        <a href="{% url 'bar:create_user' %}" class="btn btn-primary">Create User</a>
    </div>

    <div class="overflow-auto">
        <table class="table table-bordered table-hover">
        	<thead>
        		<th>Name</th>
                <th>Group</th>
                <th>Email</th>
        		<th>Telephone</th>
        		<th></th>
        	</thead>

        	<tbody>
        		{% for profile in profiles %}
        		<tr>
                    <td><a href="{% url 'bar:get_profile' id=profile.id %}" class="nav-link p-0">{{profile.name}}</a></td>
                    <td>{{profile.roles}}</td>
        			<td>
                        {{profile.email}}<br>
                    </td>
                    <td>{{profile.telephone}}</td>
        			<td><a href="{% url 'bar:get_profile' id=profile.id %}" class="btn btn-primary btn-sm">View</a></td>
        		</tr>
        		{% endfor %}
        	</tbody>
        </table>
    </div>


{% endblock %}