{% extends 'base.html' %}
{% load staticfiles %}
{% load app_tags %}

{% block body %}
	<div class="container" align="center">
		<div align="center">
			<img width="150" src="{% static 'img/logo.png' %}" />
		</div>

		<div>
			<h1 class="text-dark text-center">Welcome to Bar</h1>	
		</div>

		<div class="border bg-light rounded-top" style="max-width:400">
			
			<label class="text-center bg-light d-inline border shadow p-2">Login</label>

			{% include 'index/alert.html' %}
			
			<form class="m-0" method="POST" action="" align="left">
				{% csrf_token %}
				
				{% render_field form.email class='form-control' %}
				{% render_field form.password class='form-control' %}
				
				<div align="center" class="bg-white border-top p-3 mt-3 mb-0">
					<button class="btn btn-primary">Login <span class="fa fa-sign-in"></span></button>
					<!-- <a href= "" class="nav-link">Forgot Password</a> -->
				</div>
			</form>
		</div>
	</div>
{% endblock %}