<div class="modal-backdrop show" style="opacity: 0.3"></div>
<div class="modal show p-0" id="loadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="padding-right: 14px; display: block;">
    <!-- <div class="modal-dialog modal-dialog-centered" align="center">
        <div class="modal-body text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div> -->
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hello, this is the message.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
