<div class="p-2 border mb-2">
    <h4 class="my-auto">User Permissions</h4>
</div>
<form method="POST" class="border" action="{% url 'bar:update_user_permissions' id=profile.user_id %}" align="left">
	{% csrf_token %}
	{% render_field update_user_permissions_form.can_make_orders %}
	{% render_field update_user_permissions_form.can_mark_orders_as_ready %}
	{% render_field update_user_permissions_form.can_mark_orders_as_served %}

	<div class="p-2" align="right">
		<button class="btn btn-primary">Update User Permissions</button>
	</div>
</form>