{% extends 'base.html' %}


{% block body %}
	<div id="app">
        <div class="d-block" :class="{'d-none':!showLoading}">
            {% include 'index/loading.html' %}
        </div>
        <template>
            {% include 'index/nav.html' %}        

            {% include 'order/orders.html' %}

            {% include 'order/order.html' %}
        </template>
    </div>

{% endblock %}


{% block vue %}
<script type="text/javascript">

    var vue = new Vue({
        el: '#app',
        data(){ 
            return{
            0: [],
            1: [],
            2: [],
            orderGroup: {},
            orderGroups: [],
            showLoading: true,
            currentOrders: [],
            currentStatus: null,
            currentRef: '',
            STATUSES: {
                0:'PENDING',
                1:'READY',
                2:'SERVED'
            },
            timeNow: new Date(),
            showFooter: true,
            }
        },
        created: function() {
            // this.getOrders()
            this.getOrderGroups()
            this.showLoading=false
            setInterval(this.updateTimeNow, 30000)
        },
        computed: {
            pending(){
                this[0] = this.orderGroups.filter(orderGroup=>orderGroup.orders[0].status==0)
                return this[0]
            },
            ready(){
                this[1] = this.orderGroups.filter(orderGroup=>orderGroup.orders[0].status==1)
                return this[1]
            },
            served(){
                this[2] = this.orderGroups.filter(orderGroup=>orderGroup.orders[0].status==2)
                return this[2]
            },
        },
        methods: {
            updateOrderTimes(){
                this.pending = this.pending
            },
            updateTimeNow(){
                this.timeNow = new Date()
            },
            getOrderGroups(){
                fetch("/api/order-groups/")
                .then(r => r.json())
                .then(data => {
                    this.orderGroups = data.results

                })
            },
            getOrders(){
                fetch("/api/orders/")
                .then(r => r.json())
                .then(data => {
                    for (var i = 0; i < data.results.length; i++) {
                        order = data.results[i]
                        if(!this[order.status][order.reference]){
                            this[order.status][order.reference] = []
                        }
                        this[order.status][order.reference].push(order)
                    }
                    this.pending = this[0]
                    this.ready = this[1]
                    this.served = this[2]
                })
            },

            showOrderGroup(orderGroup){
                this.orderGroup = orderGroup
                this.currentOrders = orderGroup.orders
                this.currentStatus = orderGroup.orders[0].status
                this.currentRef = orderGroup.reference
            },

            totalPrice(){
                total = 0
                for (var i = 0; i < this.currentOrders.length; i++) {
                    order = this.currentOrders[i]
                    total += order.quantity*order.sale_price
                }
                return total
            },

            updateOrderGroupClosedState(orderGroup){
                this.showLoading = true
                index = this.orderGroups.indexOf(orderGroup)
                fetch(`/api/order-groups/${orderGroup.id}/`, {
                    method: "PUT",
                    headers: {
                        "Content-Type": 'application/json',
                        "X-CSRFToken":'{{csrf_token}}'
                    },
                    body: JSON.stringify({
                        closed: !orderGroup.closed,
                    })
                })
                .then(response=>response.json())
                .then(data=>{
                    this.orderGroups = this.orderGroups.map((orderGroup,i)=>{
                        if (i==index){
                            orderGroup = data
                        }
                        return orderGroup
                    })
                    this.orderGroup = data
                    this.showLoading = false
                })
            },

            updateOrderStatus(ref, status){
                this.showLoading = true
                fetch(`/api/orders/update_order_status/`, {
                    method: "POST",
                    headers: {
                        "Content-Type": 'application/json',
                        "X-CSRFToken":'{{csrf_token}}'
                    },
                    body: JSON.stringify({
                        ref: ref,
                        status: status
                    })
                })
                .then(response=>response.json())
                .then(data=>{
                    if (data.status == "success"){
                        alert(data.detail)
                        this.showLoading = false
                    }
                })
            },

            timeSince(date, timeNow) { 
                var seconds = Math.floor((new Date() - date) / 1000);
                if (seconds < 15) {return "Just now"} 
                var interval = seconds / 31536000; 
                if (interval > 1) { return Math.floor(interval) + " years ago"; } 
                interval = seconds / 2592000; 
                if (interval > 1) { return Math.floor(interval) + " months ago"; }
                interval = seconds / 86400; 
                if (interval > 1) { return Math.floor(interval) + " days ago"; } 
                interval = seconds / 3600; 
                if (interval > 1) { return Math.floor(interval) + " hours ago"; } 
                interval = seconds / 60; 
                if (interval > 1) { return Math.floor(interval) + " minutes ago"; } 
                return Math.floor(seconds) + " seconds ago"; 
            },

            printOrder(){
                // this.showFooter = false
                // setTimeout(()=>{print('sdsdsd')}, 100)
                // this.showFooter = true
            }, 
        }
    })
</script>
{% endblock %}