{% extends 'base.html' %}


{% block body %}
	<div id="app">
        <div class="d-block" :class="{'d-none':!showLoading}">
            {% include 'index/loading.html' %}
        </div>
        <template>
            {% include 'index/nav.html' %}

            <ul class="border sticky-top bg-light justify-content-between nav nav-pills p-2" id="pills-tab" role="tablist" align="center">
                <h3 class="my-auto">Orders</h3>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if status == 0 %}active{% endif %}" id="pills-pending-tab" data-bs-toggle="pill" data-bs-target="#pills-pending" type="button" role="tab" aria-controls="pills-pending" aria-selected="true">PENDING</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if status == 1 %}active{% endif %}" id="pills-ready-tab" data-bs-toggle="pill" data-bs-target="#pills-ready" type="button" role="tab" aria-controls="pills-ready" aria-selected="false">READY</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if status == 2 %}active{% endif %}" id="pills-served-tab" data-bs-toggle="pill" data-bs-target="#pills-served" type="button" role="tab" aria-controls="pills-served" aria-selected="false">SERVED</button>
                </li>
            </ul>
            
            {% include 'index/alert.html' %}

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade {% if status == 0 %}show active{% endif %}" id="pills-pending" role="tabpanel" aria-labelledby="pills-pending-tab">
                    <div class="list-group rounded-0" v-for="ref in Object.keys(pending)">
                        <button type="button" class="d-flex justify-content-between list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#orderModal" @click="showOrderRef(ref, 0)">
                            {%verbatim%}{{ref}}{%endverbatim%}
                            <span class="float-right">
                                {%verbatim%}
                                    {{timeSince( new Date(pending[ref][0].created_at) )}}
                                {%endverbatim%}
                            </span>
                        </button>
                    </div>
                    <div class="py-5" v-if="!Object.values(pending).length">
                        <p class="text-center text-muted display-3">No pending orders</p>
                        <p class="text-center text-muted">
                            <a href="{% url 'bar:create_orders' %}" class="btn nav-link d-inline">
                                Start New Order
                            </a>
                        </p>
                    </div>
                </div>

                <div class="tab-pane fade {% if status == 1 %}show active{% endif %}" id="pills-ready" role="tabpanel" aria-labelledby="pills-ready-tab">
                    <div class="list-group rounded-0" v-for="ref in Object.keys(ready)">
                        <button type="button" class="d-flex justify-content-between list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#orderModal" @click="showOrderRef(ref, 1)">
                            {%verbatim%}{{ref}}{%endverbatim%}
                            <span class="float-right">
                                {%verbatim%}
                                    {{timeSince(new Date(ready[ref][0].created_at))}}
                                {%endverbatim%}
                            </span>
                        </button>
                    </div>
                    <div class="py-5" v-if="!Object.values(ready).length">
                        <p class="text-center text-muted display-3">No ready orders</p>
                        <p class="text-center text-muted">
                            <a href="{% url 'bar:create_orders' %}" class="btn nav-link d-inline">
                                Start New Order
                            </a>
                        </p>
                    </div>
                </div>

                
                <div class="tab-pane fade {% if status == 2 %}show active{% endif %}" id="pills-served" role="tabpanel" aria-labelledby="pills-served-tab">
                    <div class="list-group rounded-0" v-for="ref in Object.keys(served)">
                        <button type="button" class="d-flex justify-content-between list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#orderModal" @click="showOrderRef(ref, 2)">
                            {%verbatim%}{{ref}}{%endverbatim%}
                            <span class="float-right">
                                {%verbatim%}
                                    {{timeSince( new Date(served[ref][0].created_at) )}}
                                {%endverbatim%}
                            </span>
                        </button>
                    </div>
                </div>
                <div class="d-none">{%verbatim%}{{this.timeNow}}{%endverbatim%}</div>
            </div>

            {% include 'order/order-modal.html' %}
        </template>
    </div>

{% endblock %}


{% block vue %}
<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data: {
            pending: [],
            ready: [],
            served: [],
        	0: {},
            1: {},
            2: {},
            showLoading: true,
            currentOrders: [],
            currentStatus: null,
            currentRef: '',
            STATUSES: {
                0:'PENDING',
                1:'READY',
                2:'SERVED'
            },
            timeNow: new Date()
        },
        created: function() {
        	this.getOrders()
            this.showLoading=false
            setInterval(this.updateTimeNow, 30000)
        },
        computed: {
        },
        methods: {
            updateOrderTimes(){
                this.pending = this.pending
            },
            updateTimeNow(){
                this.timeNow = new Date()
            },
            getOrders(){
            	fetch("/api/orders/")
            	.then(r => r.json())
                .then(data => {
                    for (var i = 0; i < data.results.length; i++) {
                        order = data.results[i]
                        if(!this[order.status][order.reference]){
                            this[order.status][order.reference] = []
                        }
                        this[order.status][order.reference].push(order)
                    }
                    this.pending = this[0]
                    this.ready = this[1]
                    this.served = this[2]
                })
            },

            showOrderRef(ref, status){
                this.currentOrders = this[status][ref]
                this.currentStatus = status
                this.currentRef = ref
            },

            totalPrice(){
                total = 0
                for (var i = 0; i < this.currentOrders.length; i++) {
                    order = this.currentOrders[i]
                    total += order.quantity*order.sale_price
                }
                return total
            },

            updateOrderStatus(ref, status){
                this.showLoading = true
                fetch(`/api/orders/update_order_status/`, {
                    method: "POST",
                    headers: {
                        "Content-Type": 'application/json',
                        "X-CSRFToken":'{{csrf_token}}'
                    },
                    body: JSON.stringify({
                        ref: ref,
                        status: status
                    })
                })
                .then(response=>response.json())
                .then(data=>{
                    if (data.status == "success"){
                        alert(data.detail)
                        this.showLoading = false
                    }
                })
            },

            timeSince(date, timeNow) { 
                var seconds = Math.floor((new Date() - date) / 1000);
                if (seconds < 15) {return "Just now"} 
                var interval = seconds / 31536000; 
                if (interval > 1) { return Math.floor(interval) + " years ago"; } 
                interval = seconds / 2592000; 
                if (interval > 1) { return Math.floor(interval) + " months ago"; }
                interval = seconds / 86400; 
                if (interval > 1) { return Math.floor(interval) + " days ago"; } 
                interval = seconds / 3600; 
                if (interval > 1) { return Math.floor(interval) + " hours ago"; } 
                interval = seconds / 60; 
                if (interval > 1) { return Math.floor(interval) + " minutes ago"; } 
                return Math.floor(seconds) + " seconds ago"; 
            } 
        }
    });
</script>
{% endblock %}