{% extends 'base.html' %}
{% load app_tags %}


{% block body %}
	<div id="app">    	
    	{%verbatim%}{{data0}}{%endverbatim%}
    	<p><router-link to="/">Go to page 1</router-link></p>
		<p><router-link to="/page2">Go to page 2</router-link></p>
		<p>
    		<router-view>
    		</router-view>
    	</p>
    </div>

    <a href="#order" @click="go()">GO</a>


    <script type="text/x-template" id="page1" verson='1.0'>
    	<div>
    		<div>
    			Page 1
				{%verbatim%}{{data1}}-{{page2Data}}{%endverbatim%}
    		</div>
    	</div>
    </script>

    <script type="text/x-template" id="page2">
    	<div>
    		<div>
    			Page 2
				{%verbatim%}{{data2}}-{{page1Data}}{%endverbatim%}
    		</div>
    	</div>
    </script>
{% endblock %}

{% block vue %}
<script type="text/javascript">
	var Page1 = {
		template: "#page1",
		data(){
			return {
				data1: "1",
			}
		},
		computed: {
			page2Data(){
				return JSON.parse(localStorage.getItem("page2Data"))
			}
		},
		created: function(){
			this.$parent.data0 = "sam"
			localStorage.setItem("page1Data", JSON.stringify(this._data))
		}
	}
	var Page2 = {
		template: "#page2",
		data(){
			return {
				data2: "2",
			}
		},
		computed: {
			page1Data(){
				return JSON.parse(localStorage.getItem("page1Data"))
			}
		},
		created: function(){
			localStorage.setItem("page2Data", JSON.stringify(this._data))
		}
	}


	const routes = [
		{path:'/', component: Page1},
		{path:'/page2', component: Page2},
	]

	const router = new VueRouter({
		routes
	})

	var app = new Vue({
		router,
		data: {
			data0: "0",
		},
		methods: {
			go(){
				console.load("hello")
			}
		}
	}).$mount('#app')
</script>
{% endblock %}