{% extends 'base.html' %}


{% block body %}
	<div id="app">
        <div class="d-block" :class="{'d-none':!showLoading}">
            {% include 'index/loading.html' %}
        </div>
        <template>
            {% include 'index/nav.html' %}
            {% include 'order/update-cart.html' %}
            {% include 'product/products-offcanvas.html' %}
        </template>
    </div>

{% endblock %}


{% block vue %}
<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data: {
            orderGroup: {},
        	products: [],
        	displayedProducts: [],
        	orders: {},
        	categories: [],
        	searchString: '',
            orderStatusText: 'Fetching orders...',
            showLoading: true,
        },
        created: function() {
        	this.getProducts()
        	this.getCategories()
            this.showLoading = false
        },
        computed: {
            
        },
        methods: {
            getOrderGroup(){
                fetch("/api/order-groups/{{order_group.id}}/")
                .then(r => r.json())
                .then(data => {
                    this.orderGroup = data
                    this.setOrders(data.orders)
                })
            },
            getProducts(){
            	fetch("/api/products")
            	.then(r => r.json())
                .then(data => {
                	this.setProducts(data.results)
                })
                .then(()=>{
                	this.displayedProducts = this.products
                    this.getOrderGroup()
                })
            },
            setOrders(orders){
                for (var i=0; i<orders.length; i++) {
                    order = orders[i]
                    product = this.products.filter(product=>product.id==order.product).shift()||null
                    if (product){
                        product.orderQuantity = order.quantity
                        this.orders[product.id] = product
                    }
                }
                this.orderStatusText = "No orders"
            },

            getCategories(){
            	fetch("/api/categories?platform=web")
            	.then(r => r.json())
                .then(data => {
                	this.categories = data.results
                })
            },

            setProducts(products){
                this.products = products.map(product=>{
                    product["orderQuantity"] = 0
                    product["orderSaleGuide"] = product.sale_guides[0] || null
                    return product
                })
            },

            addProductQuantity(product){
            	if (!this.orders[product.id]){
            		this.orders[product.id] = product
            	} 
            	this.orders[product.id].orderQuantity += 1
            },

            subtractProductQuantity(product){
            	if (!this.orders[product.id]){
            		return
            	} 
            	this.orders[product.id].orderQuantity -= 1
            	if (product.orderQuantity == 0){
            		delete this.orders[product.id]
            	}
            },

            removeFromCart(product){
            	this.orders[product.id].orderQuantity = 0
            	delete this.orders[product.id]
            },

            isOrdered(product){
        		return Boolean(this.orders[product.id])
        	},

            totalPrice(){
                total = 0
                orders = Object.values(this.orders)
                for (var i = 0; i < orders.length; i++) {
                    product = orders[i]
                    total += product.orderQuantity*product.orderSaleGuide.price
                }
                return total
            },

        	showCategory(category=null){
        		if (category) {
        			this.displayedProducts = this.products.filter(product=>product.categories.includes(category.id))
        			return
        		}
        		this.displayedProducts = this.products
        	},

            changeSaleGuide(event, product){
                saleGuideId = event.target.value
                saleGuide = product.sale_guides.filter(saleGuide => saleGuide.id==saleGuideId).shift()
                if (!this.orders[product.id]) {
                    this.addProductQuantity(product)
                }
                this.orders[product.id]['orderSaleGuide'] = saleGuide
            },

        	searchProduct(){
        		results = []
        		for (var i=0; i<this.products.length; i++){
        			product = this.products[i]
        			if (product.name.toLowerCase().search(this.searchString.toLowerCase()) > -1){
        				results.push(product)
        			}
        		}
        		this.displayedProducts = results
        	},

        	updateOrders(){
                this.showLoading = true
        		fetch(`/api/orders/{{order_group.id}}/update_orders/`, {
                    method: "PUT",
                    headers: {
                        "Content-Type": 'application/json',
                        "X-CSRFToken":'{{csrf_token}}'
                    },
                    body: JSON.stringify(Object.values(this.orders))
                })
                .then(response=>response.json())
                .then(data=>{
                    if (data.status == "success"){
                        alert("Orders updated")
                        this.showLoading = false
                    }
                })
        	},
        }
    });
</script>
{% endblock %}