{% extends 'base.html' %}
{% load app_tags %}


{% block body %}
    <div id="app">
            {% include 'index/nav.html' %}
            {% include 'index/alert.html' %}
            <div class="d-flex sticky-top bg-light p-2 justify-content-between  border-bottom mb-2">
                <h2 class="m-0"><a href="{% url 'bar:get_products' %}" class="nav-link px-1 d-inline">Products</a> / <a href="{% url 'bar:get_product' id=product.id %}" class="nav-link px-1 d-inline">{{product}}</a> / Add Stock</h2>
            </div>

            <div class="container-fluid m-0">
                <div class="container" align="center">
                    <div style="max-width: 400px" align="left">
                        <div class="p-2 border mb-2">
                            <strong>Add Stock</strong>
                        </div>
                        <form class="bg-light border border-left" method="POST" action="{% url 'bar:add_product_stock' id=product.id %}">
                            {% csrf_token %}
                            {% render_field add_product_stock_form.quantity class="form-control" %}
                            {% render_field add_product_stock_form.purchase_metric class="form-control" %}
                            {% render_field add_product_stock_form.purchase_price class="form-control" %}
                            <div class="p-2 border-top" align="right">
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}