{% extends 'base.html' %}
{% load app_tags %}


{% block body %}
	<div id="app">
            {% include 'index/nav.html' %}
            {% include 'index/alert.html' %}
            <div class="d-flex sticky-top bg-light p-2 justify-content-between  border-bottom mb-2">
                <h3 class="m-0"><a href="{% url 'bar:get_products' %}" class="nav-link px-1 d-inline">Inventory</a> / Create product</h3>
            </div>

            <div class="container-fluid" align="center">
        		<div align="left" style="max-width:400px;">
                    <div class="p-2 border mb-2">
                        <strong>Create product</strong>
                    </div>
                    <form class="bg-light border border-left" method="POST">
                        {% csrf_token %}
                        {% render_field create_product_form.name class="form-control" %}
                        {% render_field create_product_form.brand class="form-control" %}
                        {% render_field create_product_form.barcode class="form-control" %}
                        {% render_field create_product_form.description class="form-control" %}
                        {% render_field create_product_form.metric_system class="form-control" %}
                        <div class="p-2 border-top" align="right">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}

