{% extends 'base.html' %}
{% load app_tags %}
{% load humanize %}


{% block body %}
	<div id="app">
        {% include 'index/nav.html' %}
        {% include 'index/alert.html' %}
    </div>

    <div class="d-flex bg-light p-2 justify-content-between  border-bottom mb-2">
        <h3 class="my-auto">Inventory</h3>
        <a href="{% url 'bar:create_product' %}" class="btn btn-primary">Create Product</a>
    </div>

    {% include 'category/categories.html' %}

    <div class="overflow-auto">
        <table class="table table-bordered table-hover">
        	<thead>
        		<th>Name</th>
        		<th>Brand</th>
                <th>Stock</th>
        		<th>Stock Limit</th>
                <th>Purchase Metric</th>
        		<th>Purchase Price</th>
        		<th>Stock Value</th>
        		<th>Barcode</th>
        		<th>Metric System</th>
        		<th>Action</th>
        	</thead>

        	<tbody>
        		{% for product in products %}
        		<tr>
                    <td><a href="{% url 'bar:get_product' id=product.id %}" class="nav-link p-0">{{product.name}}</a></td>
        			<td>{{product.brand}}</td>
        			<td align="right">
                        <span class="{%if product.quantity <= product.stock_limit %}text-danger{%endif%}">{{product.quantity|floatformat:2}}</span>
                        <a href="{% url 'bar:add_product_stock' id=product.id %}" class="btn btn-success btn-sm">+ Stock</a>
                    </td>
                    <td>{{product.stock_limit}}</td>
                    <td>{{product.purchase_metric}}</td>
        			<td align="right">{{product.purchase_price|intcomma}}</td>
        			<td align="right">{{product.stock_value|floatformat:2|intcomma}}</td>
        			<td align="right">{{product.barcode}}</td>
        			<td>{{product.metric_system}}</td>
        			<td>
                        <a href="{% url 'bar:get_product' id=product.id %}" class="btn btn-primary btn-sm">View</a>
                    </td>
        		</tr>
        		{% endfor %}
        	</tbody>
        </table>
    </div>


{% endblock %}